.restaurant-banner {
    height: 275px;
    &__pic {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }
    @include desktop {
        height: 397.66px;
        &__pic {
            height: 452.66px;
            transform: translateY(-70px);
        }
    }
}

.menu {
    padding: 0 13px;
    background-color: $colour-grey-1;
    border-radius: 38px;
    transform: translateY(-55px);
    @include desktop {
        width: 1055px;
        margin: 0 13.35% -185px;
        padding: 0 14.5%;
        display: flex;
        flex-direction: column;
        border-radius: 38px 38px 0 0;
        overflow: hidden;
    }
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 32px;
        @include desktop {
            width: 100%;
            display: flex;
            justify-content: center;
            i {
                position: relative;
                right: 0;
                margin-left: 24px;
                &:last-of-type {
                    right: 45.5px;
                }
            }
        }
        h2 {
            margin-left: 4px;
        }
        i {
            font-size: 22px;
        }
    }
    h3 {
        width: 40px;
        padding-bottom: 5px;
        margin-bottom: 12px;
        margin-top: 40px;
        border-bottom: 3px solid $colour-light-green;
        animation: Slidefromleft 1000ms both;
    }
    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 69px;
        margin-bottom: 12px;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15.0431px;
        background-color: $colour-white;
        width: 100%;
        transition: width 300ms ease;
        animation: Slidefromleft 500ms both;
        @include desktop {
            align-self: center;
        }
        &:last-of-type {
            margin-bottom: -55px;
            @include desktop {
                margin-bottom: 130px;
            }
        }
        &:nth-child(4) {
            animation-delay: 0.1s;
        }
        &:nth-child(5) {
            animation-delay: 0.2s;
        }
        &:nth-child(7) {
            animation-delay: 0.3s;
        }
        &:nth-child(8) {
            animation-delay: 0.4s;
        }
        &:nth-child(9) {
            animation-delay: 0.5s;
        }
        &:nth-child(11) {
            animation-delay: 0.6s;
        }
        &:nth-child(12) {
            animation-delay: 0.7s;
        }
        &:nth-child(13) {
            animation-delay: 0.8s;
        }
        &--ten {
            &:nth-child(4) {
                animation-delay: 0.1s;
            }
            &:nth-child(5) {
                animation-delay: 0.2s;
            }
            &:nth-child(6) {
                animation-delay: 0.3s;
            }
            &:nth-child(8) {
                animation-delay: 0.4s;
            }
            &:nth-child(9) {
                animation-delay: 0.5s;
            }
            &:nth-child(10) {
                animation-delay: 0.6s;
            }
            &:nth-child(12) {
                animation-delay: 0.7s;
            }
            &:nth-child(13) {
                animation-delay: 0.8s;
            }
            &:nth-child(14) {
                animation-delay: 0.9s;
            }
        }
    }
    &__text {
        position: relative;
        transition: all 300ms ease;
        width: 100%;
        padding: 15.25px 15px;
        background-color: $colour-white;
        border-radius: 15.0431px;
        h4, p {
            max-width: calc(100% - 43px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &:hover {
            width: calc(100% - 59px);
            border-radius: 15.0431px 0px 0 15.0431px;
        }
        z-index: 1;
    }
    &__checkmark {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 69px;
        width: 59px;
        right: 0px;
        border-radius: 0 15.0431px 15.0431px 0;
        background-color: $colour-light-green;
        z-index: 0;
        i {
            font-size: 20px;
            color: $colour-white;
        }
    }
    &__price {
        position: absolute;
        right: 16px;
        bottom: 13.5px;
    }
    &__btn {
        display: inline-block;
        width: 186px;
        margin: auto;
        @include desktop {
            z-index: 2;
        }
    }
    &__btn-container {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 40px 0;
        @include desktop {
        }
    }

    @keyframes Slidefromleft {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}